
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Playfair+Display&display=swap');

@font-face {
font-family: 'font1';
src: /*url("../../usr/share/fonts/truetype/Oswald-new.woff") format('.woff');*/
    /*   url("../fonts/Oswald-new.woff") format('.woff');
        url("../../application/web/fonts/Oswald.ttf")  format('truetype'),
        url(.local/share/fonts/Oswald.ttf) format('truetype'),*/
        url('dash.otf') ;
}
.content {
    width: 100vw;
    height: 100vh;
    background-color: #010101;
    display: flex;
    justify-content: flex-start;
}

.left {
    width: 40%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.photo {
    width: 70vw;
    height: 70vh;
}

.logo {
    position: absolute;
    z-index: 1;
    top: 15%;
    font-size: 40px;
    color:rgb(255, 255, 255);
    font-family: 'font1';
}

.right {
    width: 60%;
    position: relative;
    top: 25%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 100vw;
    height: 30%;
    overflow: hidden;
    background-color: blue;
}